.dashboard{
    height: auto;
    width: 100%;
}

/* Top Part of the Website */

.dashboard .initals{
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.dashboard .welcome_block{
    width: 100%;
    height: 40vh;
    background: var(--pink-grad);
    border-radius: 10px;
}

.dashboard .welcome_block div{
    position: relative;

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

    padding: 30px;
    overflow: hidden;
}

.dashboard .welcome_block div img{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 130%;

}

.dashboard .active_data{
    transform: translateY(-20%);
    padding: 25px;
    border-radius: 10px;

    color: #fff;

}


.dashboard .active_data.active_schools{
    background-color: #7DA0FA;
}
.dashboard .active_data.active_students{
    background-color: #F3797E;
}
.dashboard .active_data.total_screened{
    background-color: #4747A1;
}



/*------------------*/
/* Charts and Stuff */
/*------------------*/

.dashboard .statistic_charts{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}


.dashboard .statistic_charts .line_charts,
.dashboard .statistic_charts .pie_charts{
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.dashboard .statistic_charts .line_charts{
    width: 68%;
}
.dashboard .statistic_charts .pie_charts{
    width: 30%;
}



/*-----------------*/
/* Dashboard Table */
/*-----------------*/

.dashboard .tables{
    position: relative;
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
}

.dashboard .tables h1{
    font-size: 20px;
}

.dashboard .tables .table{
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 40px;
}

.dashboard .tables .table tbody{
    height: 40vh;
    background-color: aquamarine;
    overflow-y: auto;
}


