.distribution .table_area{
    overflow-x: scroll;
    overflow-y: scroll; 
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.distribution .table_area>.container{
    width: 2100px;
    max-height: 500px; 
}

.distribution .fixed-header th {
    position: sticky;
    top: 0;
    /* Ensure it stays readable */
    z-index: 1000;
    background: var(--high-light-color);
}

.distribution .table td.section-header{
    background-color: var(--primary-color);
}

.distribution .table th:nth-child(1),
.distribution .table td:nth-child(1) {
    width: 15%; 
}

.distribution .table th:nth-child(2),
.distribution .table td:nth-child(2) {
    width: 10%;
}

.distribution .table th:nth-child(3),
.distribution .table td:nth-child(3) {
    width: 5%;
    text-align: center;
}

.distribution .table th:nth-child(4),
.distribution .table td:nth-child(4) {
    width: 9%; 
}

.distribution .table th:nth-child(5),
.distribution .table td:nth-child(5) {
    width: 10%;
}

.distribution .table th:nth-child(6),
.distribution .table td:nth-child(6) {
    width: 7%; 
    text-align: center;
}

.distribution .table th:nth-child(7),
.distribution .table td:nth-child(7) {
    width: 8%; 
}

.distribution .table th:nth-child(8),
.distribution .table td:nth-child(8) {
    width: 9%;
}

.distribution .table th:nth-child(9),
.distribution .table td:nth-child(9) {
    width: 8%; 
}

.distribution .table th:nth-child(9) div,
.distribution .table td:nth-child(9) div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



.distribution .table td:nth-child(11) .button {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.distribution .table td:nth-child(11) .button  button{
    padding: 10px;
    border-radius: 10px;
}


.distribution .table th:nth-child(12),
.distribution .table td:nth-child(12) {
    width: 22%; 
    
}

.distribution .table th:nth-child(13),
.distribution .table td:nth-child(13) {
    width: 10%; /* Status column */
    text-align: center;
}

.distribution .table td:nth-child(13) button{
    padding: 10px;
    background: var(--blue-color);
    border-radius: 10px;
}
