.distribution .table_area {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}


.distribution .table_area>.container {
    width: 2100px;
    max-height: 500px;
}

.distribution .table {
    overflow-x: auto;
    /* Allow horizontal scrolling */
    white-space: nowrap;
    /* Prevent line breaks */
}

.distribution .fixed-header th {
    position: sticky;
    top: 0;
    /* Ensure it stays readable */
    z-index: 1000;
    background: var(--high-light-color);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.distribution thead {
    position: sticky;
    top: 0;
    background-color: white;
    /* Optional: Add background color */
    z-index: 10;
    /* Ensure the header stays above the content */
}

.distribution td.section-header {
    background: var(--secondary-color);
    position: sticky;
    left: 0;
    /* Optional: Add a light background for contrast */
    z-index: 5;
    /* Ensure it appears above content */
    padding: 8px;
    font-weight: bold;
}