.distribution .table_area {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    scroll-behavior: smooth;
    scrollbar-width: thin; /* Firefox */
}

.distribution .table_area::-webkit-scrollbar {
    height: 8px;
}

.distribution .table_area::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.distribution .table_area:hover {
    scrollbar-color: #888 transparent;
}

.distribution .table {
    overflow-x: auto;
    white-space: nowrap; /* Prevent line breaks */
}

.distribution thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.distribution td.section-header {
    background: var(--secondary-color);
    position: sticky;
    left: 0;
    z-index: 5;
    padding: 8px;
    font-weight: bold;
}

.distribution .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.distribution .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background: var(--high-light-color);
    cursor: pointer;
}
