.patientInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.patientInfo>.block{
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
}

.patientInfo .block h2{
    border-bottom: solid 1px var(--dark-color);
    font-size: 20px;
    padding: 10px 0;
}

.patientInfo .block .info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.patientInfo .block .info>div{
    width: 50%;
    margin-bottom: 15px;
}


.patientInfo .block .Yes{
    color: green;
}

.patientInfo .block .No{
    color: red;
}


/* --------------------------- */
/* The Bottom Part of the Page */
/* --------------------------- */

.patientInfoAction{
    width: 100%;
    margin-top: 2%;
    padding: 20px 0;
    border-top: solid 1px var(--dark-color);
}

.patientInfoAction .top{
    width: 100%;
    margin-bottom: 20px;
}

.patientInfoAction .title{
    font-size: 12px;
    line-height:300%;
    overflow: hidden;
}

.patientInfoAction .selector{
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patientInfoAction .selector button{
    height: 100%;
    width: 200px;

    background: #fff;
    color: var(--dark-color);
    font-size: 16px;
    border-radius: 10px;
    transition: all 400ms cubic-bezier(0.68, -0.25, 0.27, 1.05);
}


.patientInfoAction .selector:has(button.active) button.inactive {
    background-color: #aaaaaa;
    color: white;
    transform: scale(0.9 ) translateY(5%);
}


.patientInfoAction .selector:has(button.active) button.active {
    background: var(--blue-grad);
    color: white;
    transform: scale(1) translateY(0%);
}

body:has(.side_nav.open) .patientInfoAction .selector button{
    width: 170px;
}

.patientInfoAction .selector button.pag,
body:has(.side_nav.open) .patientInfoAction .selector button.pag{
    height: 100%;
    width: 50px;
    background: var(--pink-grad);
}

.patientInfoAction .selector button:disabled,
.patientInfoAction .selector button[disabled]{
    opacity: 0.7;
    box-shadow: none;
}


.patientInfoAction .selector button.pag img{
    height: 40%;
    width: 40%;
    object-fit: contain;
}

.patient_profile_block{
    margin-top: 0px;
}

.patient_profile_block,
.patient_profile_block .form,
.patient_profile_block .form form,
.patientInfoAction .table{
    width: 100%;
}

.patientInfoAction .selector button span{
    transform: translateY(5%);
}

.patient_profile_block .form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}

.patient_profile_block .form form>div{
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
}

.patientInfoAction .table td>div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* -------------------- */
/* Program Participants */
/* -------------------- */

.program_participants .table th
.program_participants .table td{
   font-size: 20px; 
}

.program_participants .table th:nth-child(1),
.program_participants .table td:nth-child(1) {
    width: 25%;
}

.program_participants .table th:nth-child(2),
.program_participants .table td:nth-child(2) {
    width: 25%;
}

.program_participants .table th:nth-child(3),
.program_participants .table td:nth-child(3) {
    width: 7%;
    text-align: center;
}

.program_participants .table th:nth-child(4),
.program_participants .table td:nth-child(4) {
    width: 15%; 
}

.program_participants .table th:nth-child(5),
.program_participants .table td:nth-child(5) {
    width: 8%; 
}

.program_participants .table th:nth-child(6),
.program_participants .table td:nth-child(6) {
    width: 8%; 
}



/* ------------ */
/* Appointments */
/* ------------ */

.appointments .table th:nth-child(1),
.appointments .table td:nth-child(1) {
    width: 23%;
}
.appointments .table th:nth-child(2),
.appointments .table td:nth-child(2) {
    width: 20%;
}
.appointments .table th:nth-child(3),
.appointments .table td:nth-child(3) {
    width: 10%;
    text-align: center;
}
.appointments .table th:nth-child(4),
.appointments .table td:nth-child(4) {
    width: 9%;
    text-align: center;
}
.appointments .table th:nth-child(5),
.appointments .table td:nth-child(5) {
    width: 9%;
    text-align: center;
}
.appointments .table th:nth-child(6),
.appointments .table td:nth-child(6) {
    width: 5%;
    text-align: center;
}
.appointments .table th:nth-child(7),
.appointments .table td:nth-child(7) {
    width: 9%;
    text-align: center;
}



/* ----------------- */
/* Treatment History */
/* ----------------- */

.treatment_history .table th:nth-child(1),
.treatment_history .table td:nth-child(1) {
    width: 10%;
}
.treatment_history .table th:nth-child(2),
.treatment_history .table td:nth-child(2) {
    width: 10%;
}
.treatment_history .table th:nth-child(3),
.treatment_history .table td:nth-child(3) {
    width: 10%;
    text-align: center;
}
.treatment_history .table th:nth-child(4),
.treatment_history .table td:nth-child(4) {
    width: 10%;
    text-align: center;
}
.treatment_history .table th:nth-child(5),
.treatment_history .table td:nth-child(5) {
    width: 10%;
    text-align: center;
}
.treatment_history .table th:nth-child(6),
.treatment_history .table td:nth-child(6) {
    width: 14%;
    text-align: center;
}
.treatment_history .table th:nth-child(7),
.treatment_history .table td:nth-child(7) {
    width: 14%;
    text-align: center;
}
.treatment_history .table th:nth-child(8),
.treatment_history .table td:nth-child(8) {
    width: 14%;
    text-align: center;
}



/* -------------- */
/* Communications */
/* -------------- */


.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled{
    -webkit-text-fill-color: rgba(0, 0, 0, 1) !important;
    text-fill-color: rgba(0, 0, 0, 1) !important;
}

.communications .table th:nth-child(1),
.communications .table td:nth-child(1) {
    width: 10%;
    text-align: center;
}
.communications .table th:nth-child(2),
.communications .table td:nth-child(2) {
    width: 25%;
}
.communications .table th:nth-child(3),
.communications .table td:nth-child(3) {
    width: 20%;
}
.communications .table th:nth-child(4),
.communications .table td:nth-child(4) {
    width: 12%;
}
.communications .table th:nth-child(5),
.communications .table td:nth-child(5) {
    width: 15%;
}



/* ----------------- */
/* Treatment History */
/* ----------------- */

.gaurdians .table th:nth-child(1),
.gaurdians .table td:nth-child(1) {
    width: 4%;
}
.gaurdians .table th:nth-child(2),
.gaurdians .table td:nth-child(2) {
    width: 10%;
}
.gaurdians .table th:nth-child(3),
.gaurdians .table td:nth-child(3) {
    width: 10%;
    text-align: center;
}
.gaurdians .table th:nth-child(4),
.gaurdians .table td:nth-child(4) {
    width: 10%;
    text-align: center;
}
.gaurdians .table th:nth-child(5),
.gaurdians .table td:nth-child(5) {
    width: 20%;
}
.gaurdians .table th:nth-child(6),
.gaurdians .table td:nth-child(6) {
    width: 10%;
    text-align: center;
}