.patients .user_buttons{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.patients .table_controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patients .table_area{
    width: 100%;
}

.patients .table th:nth-child(1),
.patients .table td:nth-child(1) {
    width: 5%; /* ID column */
}

.patients .table th:nth-child(2),
.patients .table td:nth-child(2) {
    width: 25%; /* Patient Name column */
}

.patients .table th:nth-child(3),
.patients .table td:nth-child(3) {
    width: 10%; /* Gender column */
}

.patients .table th:nth-child(4),
.patients .table td:nth-child(4) {
    width: 15%; /* Date of Birth column */
}

.patients .table th:nth-child(5),
.patients .table td:nth-child(5) {
    width: 10%; /* Age column */
}

.patients .table th:nth-child(6),
.patients .table td:nth-child(6) {
    width: 10%; /* Status column */
    text-align: center;
}

/* ---------------- */
/* New Patient Form */
/* ---------------- */

.new_patient_containter{
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: 999;
    background-color: rgba(0, 0, 0, 0.30);
    padding: 2%;
    overflow: auto;
}

.new_patients{
    height: 100%;
    width: 70%;
    overflow: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4%;
    z-index: 9;
}

.new_patient_containter form{
    width: 100%;
}

.new_patient_containter form h3{
    margin-top: 30px;
    margin-bottom: 10px;
}

.new_patient_containter form .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.new_patient_containter form .container>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;
}

.new_patient_containter form .container .fname{
    width: 40%
}
.new_patient_containter form .container .lname{
    width: calc(40% - 20px)
}
.new_patient_containter form .container .gender{
    width: 20%
}
.new_patient_containter form .container .birthdate{
    width: 25%
}
.new_patient_containter form .container .race{
    width: calc(40% - 20px)
}
.new_patient_containter form .container .insurance{
    width: 35%
}
.new_patient_containter form .container .language_spoken{
    width: calc(50% - 10px)
}
.new_patient_containter form .container .language_spoken_at_hone{
    width: 50%
}

.new_patient_containter form .gaurdian_info>div{
    width: calc(50% - 10px);
}
.new_patient_containter form .school_info>div{
    width: calc(50% - 10px);
}

.new_patient_containter form .container .full,
.new_patient_containter form .container .full .css-1iw3t7y-MuiFormControl-root{
    width: 100%;
}

.new_patient_containter form .container .text_input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.new_patient_containter form .container .text_input .dtext{
    width: 60%;
}
.new_patient_containter form .container .text_input .dinput{
    padding-top: 2%;
    width: 35%;
}
.new_patient_containter form .form-buttons {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    gap: 15px;
} 
