.patientInfo{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.patientInfo .block{
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
}

.patientInfo .block h2{
    border-bottom: solid 1px var(--dark-color);
    padding: 10px 0;
}

.patientInfo .block .info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.patientInfo .block .info>div{
    width: 50%;
    margin-bottom: 15px;
}


.patientInfo .block .Yes{
    color: green;
}

.patientInfo .block .No{
    color: red;
}


/* --------------------------- */
/* The Bottom Part of the Page */
/* --------------------------- */

.patientInfoAction{
    width: 100%;
    margin-top: 2%;
    padding: 20px 0;
    border-top: solid 1px var(--dark-color);
}

.patientInfoAction .top{
    width: 100%;
    margin-bottom: 20px;
}

.patientInfoAction .title{
    font-size: 20px;
    line-height:300%;
    overflow: hidden;
}

.patientInfoAction .selector{
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patientInfoAction .selector button{
    height: 100%;
    width: 200px;

    background: #fff;
    color: var(--dark-color);
    font-size: 16px;
    border-radius: 10px;
    transition: all 400ms cubic-bezier(0.68, -0.25, 0.27, 1.05);
}


.patientInfoAction .selector:has(button.active) button.inactive {
    background-color: #aaaaaa;
    color: white;
    transform: scale(0.9 ) translateY(5%);
}


.patientInfoAction .selector:has(button.active) button.active {
    background: var(--blue-grad);
    color: white;
    transform: scale(1) translateY(0%);
}

body:has(.side_nav.open) .patientInfoAction .selector button{
    width: 170px;
}

.patientInfoAction .selector button.pag,
body:has(.side_nav.open) .patientInfoAction .selector button.pag{
    height: 100%;
    width: 50px;
    background: var(--pink-grad);
}

.patientInfoAction .selector button:disabled,
.patientInfoAction .selector button[disabled]{
    opacity: 0.7;
    box-shadow: none;
}


.patientInfoAction .selector button.pag img{
    height: 40%;
    width: 40%;
    object-fit: contain;
}

.patientInfoAction .selector button span{
    transform: translateY(5%);
}



/* -------------------- */
/* Program Participants */
/* -------------------- */

.patient_profile_block,
.patient_profile_block .form,
.patient_profile_block .form form{
    width: 100%;
}

.patient_profile_block .save_btn{
    padding: 15px 5%;
    border-radius: 10px;
    background: var(--green-grad);
    color: #fff;
    font-size: 16px;
}

.patient_profile_block .form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}

.patient_profile_block .form form>div{
    width: calc(50% - 10px);
}

.patientInfoAction .table{
    width: 100%;
}

.patientInfoAction .table th
.patientInfoAction .table td{
   font-size: 20px; 
}

.patientInfoAction .table th:nth-child(1),
.patientInfoAction .table td:nth-child(1) {
    width: 25%;
}

.patientInfoAction .table th:nth-child(2),
.patientInfoAction .table td:nth-child(2) {
    width: 25%;
}

.patientInfoAction .table th:nth-child(3),
.patientInfoAction .table td:nth-child(3) {
    width: 5%; 
}

.patientInfoAction .table th:nth-child(4),
.patientInfoAction .table td:nth-child(4) {
    width: 15%; 
}

.patientInfoAction .table th:nth-child(5),
.patientInfoAction .table td:nth-child(5) {
    width: 6%; 
}

.patientInfoAction .table th:nth-child(6),
.patientInfoAction .table td:nth-child(6) {
    width: 8%; 
}
.patientInfoAction .table td>div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}