.edit_patient_containter{
    height: 100%;
    width: 100%;

    z-index: 999;
    padding: 2%;
    overflow: auto;
}

.edit_patients{
    height: 100%;
    width: 100%;
    overflow: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4%;
    z-index: 9;
}

.edit_patient_containter form{
    width: 100%;
}

.edit_patient_containter form h3{
    margin-top: 30px;
    margin-bottom: 10px;
}

.edit_patient_containter form .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.edit_patient_containter form .container>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;
}

.edit_patient_containter form .container .fname{
    width: 40%
}
.edit_patient_containter form .container .lname{
    width: calc(40% - 20px)
}
.edit_patient_containter form .container .gender{
    width: 20%
}
.edit_patient_containter form .container .birthdate{
    width: 25%
}
.edit_patient_containter form .container .race{
    width: calc(40% - 20px)
}
.edit_patient_containter form .container .insurance{
    width: 35%
}
.edit_patient_containter form .container .language_spoken{
    width: calc(50% - 10px)
}
.edit_patient_containter form .container .language_spoken_at_hone{
    width: 50%
}

.edit_patient_containter form .gaurdian_info>div{
    width: calc(50% - 10px);
}
.edit_patient_containter form .school_info>div{
    width: calc(50% - 10px);
}

.edit_patient_containter form .container .full,
.edit_patient_containter form .container .full .css-1iw3t7y-MuiFormControl-root{
    width: 100%;
}

.edit_patient_containter form .container .text_input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.edit_patient_containter form .container .text_input .dtext{
    width: 60%;
}
.edit_patient_containter form .container .text_input .dinput{
    padding-top: 2%;
    width: 35%;
}
.edit_patient_containter form .form-buttons {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    gap: 15px;
} 

.statistics_report>div{
    margin-bottom: 20px;
}

.statistics_report .information_for_all_schools{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.statistics_report .information_for_all_schools>div{
    width: calc(50% - 10px);
}

.statistics_report .demographic {
    width: 100%;
}

.statistics_report .demographic .pie_charts{
    width: 100%;
    display: flex;
    flex-direction: wrap;
    gap:40px;
}
.statistics_report .demographic .table th,
.statistics_report .demographic .table td{
    text-align: center;
}

.statistics_report .demographic .table th:nth-child(1),
.statistics_report .demographic .table td:nth-child(1){
    width: 20%;
    text-align: left;
}
 