.scheduler {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


body:has(.scheduler) .form_container .form {
    width: 600px;
    margin-bottom: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scheduler table{
    background-color: #fff;
}

.fc *{
    transition: all 100ms linear;
}

.fc {
    width: 70%;
    /* Force full width */
    max-width: 100%;
    height: calc(85vh - 40px);
    overflow: scroll;
    /* Prevent it from being constrained */
    box-sizing: border-box;
}