/* .StateReportsGradeTable_wrapper {
    max-height: 610px;
    width: 100%;
    overflow: auto; 
    margin-top: 20px;
    position: relative;
}


.StateReportsGradeTable {
    position: relative;
    height: 100%;
    min-width: 2400px;
    display: flex;
    flex-direction: row;
}
.StateReportsGradeTable .row_label{
    background-color: rgb(212, 212, 212) !important;
}


.StateReportsGradeTable .colunm_side_labels {
    width: 320px;
    position: sticky;
    left: 0;
    z-index: 999;
    background-color: white;
}
.StateReportsGradeTable .colunm_side_labels .block.school_name{
    background-color: var(--high-light-color);
}

.StateReportsGradeTable .colunm_side_labels .block{
    height: 25px;
    width: 100%;
    padding: 15px;
    border: 0.5px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: antiquewhite;
}

.StateReportsGradeTable .top_labels {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white; 
}

.StateReportsGradeTable .colunm_side_labels .block,
.StateReportsGradeTable .top_labels .block {
    background-color: antiquewhite;
    border: 0.5px solid white;
    border-radius: 10px;
}
.StateReportsGradeTable .top_labels .block {
    background-color: var(--blue-color);
}

.StateReportsGradeTable .top_labels .school_year {
    position: relative;
}
.StateReportsGradeTable .top_labels .school_year .block p{
    position: fixed;
    left: 60%;
    transform: translateX(-50%);
}




.StateReportsGradeTable .school_info{
    width: calc(100% - 320px);
}

.StateReportsGradeTable .school_info .row{
    position: relative;
    width: 100%;
    display: flex;
}


.StateReportsGradeTable .school_info .row .block{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 0.5px solid white;
    border-radius: 10px;
}
.StateReportsGradeTable .school_info .row .block:first-child{
    width: 50%;
}
.StateReportsGradeTable .school_info .row.full .block{
    width: 100%;
} */


.State_Reports_Grade .switch{
    margin-right: 15px;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
}

.State_Reports_Grade .table-container-wrapper{
    height: 570px;
    min-height: 570px;
    overflow-y: scroll;
    margin-top: 15px;
}

.State_Reports_Grade .table-container {
    overflow-x: auto; /* Enables horizontal scroll on small screens */
}

.State_Reports_Grade .table-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background: var(--backgrounds-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.State_Reports_Grade .table-container-wrapper.adult table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures equal column widths */
}

.State_Reports_Grade .table-container thead {
    background: var(--pink-grad);
    color: var(--dark-color);
    text-transform: uppercase;
}

.State_Reports_Grade .table-container th, .table-container td {
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;
    word-wrap: break-word; 
    text-transform: capitalize;
    /* border-bottom: 1px solid var(--primary-color); */
}

.State_Reports_Grade .table-container-wrapper.adult table th,
.State_Reports_Grade .table-container-wrapper.adult table td{
    width: calc(100% / 4);
}

.State_Reports_Grade .table-container tbody tr:nth-child(even) {
    background: var(--blue-color);
}
.State_Reports_Grade .table-container tbody tr:nth-child(odd) {
    background: var(--primary-color);
}

.State_Reports_Grade .table-container tbody tr.full{
    background: #ccc;

}

.State_Reports_Grade .table-container tbody tr:hover {
    background: var(--high-light-color);
    transition: background 0.3s ease-in-out;
}

.State_Reports_Grade .table-container td{
    text-align: left;
}

.State_Reports_Grade .table-container .full td {
    font-weight: bold;
}
